html,
body {
  position: relative;
  height: 100%; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  color: #f00; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.wrapper {
  width: 600px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative; }

.slide {
  position: absolute;
  transition: all 1s ease-out;
  z-index: 0; }
  .slide.slided {
    transition: none; }
